dist
sign.key
.env
.mypy_cache
CMakeFiles/
.idea/
_CPack_Packages/
install_manifest.txt
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
VERSION
Makefile
cmake_install.cmake
as-tini
as-tini-static
tiniConfig.h
*.deb
*.rpm
*.sha1sum
*.sha256sum